// Fuentes
$fuente-principal: 'Outfit', sans-serif;

// Tamaño de Media Queries
$movil: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$azul: #007df4;
$secundario: #00c8c2;

$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #64748B;
$gris-claro: #F8FAFC;
$gris-oscuro: #1E293B;

$rojo: rgb(234, 0, 0);
$verde: #02db02;

// Fuentes
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;