@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'sass:color';

.listado-ponentes{
    @include m.reset-liststyle;
    @include m.grid(1, 1rem);

    &__ponente{
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid v.$azul;
        color: v.$azul;
        text-align: center;
        &:hover{
            cursor: pointer;
        }
        &--seleccionado{
            background-color: v.$azul;
            color: v.$blanco;
        }
    }
    &__no-existe{
        color: color.adjust(v.$negro, $lightness: 30%);
        text-align: center;
    }

}